@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,300&display=swap');

.btn{
    font-size: 18pt;
    background-color:  #5974ff;
    width:150px;
    height:50px;
}
.myCheckbox{
    width: 20px;
    height: 20px;
    margin-top:8px;
}
input{
    border: solid 1px #8a9af1;
    max-width: 90%;
}
body{
    font-family: 'Mulish', sans-serif;
    color:#04146c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}
form{
    width: 65%;
    margin-top: 5vh;
}
label{
    width: 600;
    font-size: 18pt;
 
}
span{
    font-size: 13pt;
    font-style: italic;
}